<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

</head>
<body style="text-align: center;">
    {%extends 'base.html'%}

    {%block content%}
    <h1>Blog Project</h1>
        <a href="{% url 'new' %}">글 작성하러 가기</a>
    <div class="container">
        {% for blog in blogs%}
           <div> 
            <h3>{{ blog.title }}</h3>
            {{ blog.writer }}
            {{ blog.summary }} <a href="{%url 'detail' blog.id%}">...more</a>
           </div>
        {% endfor %}
    </div>  
    {%endblock%}
</body>
</html>